.alert {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 60px;
  border-radius: 20px;
}

.modalButton {
  display: flex;
  align-items: center;
  right: 16px;
  bottom: 16px;
  width: 92px;
  height: 36px;
  border-radius: 10px;
  border: 2px solid var(--button-border-color);
  cursor: pointer;
  user-select: none;
  position: static;
  justify-content: center;
  align-items: center;
  background-color: var(--color-sub-primary);

  .text {
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
  }
}
